<% if book.errors.any? %>
<div class = "text-danger font-weight-bold pt-3">
   <%= book.errors.count %>errors prohibited this book from being saved:
    <ul>
     <% book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
   </ul>
</div>
<% end %>